<div class="my-page container">
  <section class="banner my-3">
    <img src="content/images/logos.png" alt="logo" style="width: 100px;height: 50px;">
  </section>
  <section class="info-user">
    <div class="card-info d-flex">
      <img src="content/images/avatar.png" alt="avatar">
      <div class="w-100 d-flex flex-column justify-content-between align-items-center"
           style="font-weight: normal;color: #333">
        <p>Account name : bailong</p>
        <p>Phone number : 11****333</p>
      </div>
    </div>
  </section>
  <section class="info-transaction">
    <div class="card-transaction text-start">
      <div class="info-type text-uppercase" style="font-style: italic"><strong>VIP1</strong></div>
      <div class="transaction">
        <div class="d-flex">
          <div class="info-label">
            <div>Complete schedule</div>
            <div>Orders</div>
            <div>Completed</div>
            <div>Today's commission</div>
          </div>
          <div class="info-value">
            <div>0 / 40</div>
            <div>40</div>
            <div>0</div>
            <div>$0</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="finance">
    <div class="card-info d-flex justify-content-between">
      <div class="surplus d-flex flex-column justify-content-center align-items-start">
        <div class="">Account Balance</div>
        <div class="">$99.00</div>
      </div>
      <div class="d-flex align-items-center" style="font-weight: normal;color: #333">
        <button class="custom-btn" nz-button nzSize="large" nzType="default">Top up</button>
        <button class="custom-btn ghost ml-3" nz-button nzSize="large" nzType="default">Withdraw</button>
      </div>
    </div>
  </section>
  <section class="feature mt-5">
    <div class="row no-gutters">
      @for (feature of featureList; track i;let i = $index) {
        <div class="feature-item col-4">
          <div class="d-flex flex-column align-items-center">
            <img style="width: 45px;height: 45px;" [src]="feature?.img" alt="i">
            <div class="feature-title">{{ feature?.title }}</div>
          </div>
        </div>
      }
    </div>
  </section>
</div>
