.my-page {
  .info-transaction {
    margin-top: 36px;
    .card-transaction {
      background-image: url(../../../content/images/bkse.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 200px;
    }
    .transaction {
      color: #333333;
      font-weight: normal;

      .info-label {
        & > div  {
          margin-top: 20px;
        }
        width: 160px;
      }
      .info-value {
        & > div  {
          margin-top: 20px;
        }
        text-align: center;
      }
    }
  }
  .finance {
    margin-top: 36px;
    .surplus {
      font-size: 1.7rem;
      color: #333333;
    }
  }
  .feature {
    &-item {
      margin-bottom: 30px;
      img {
        cursor: pointer;
        transition: .3s;
        &:hover {
          scale: 1.3;
        }
      }
    }
    &-title {
      margin-top: 12px;
      font-weight: normal;
    }
  }

  .card-info {
    padding: 8px;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    text-align: center;
  }
}

.custom-btn {
  width: 93px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  &:hover {
    border-color: #000000c2;
    background: #000000c2;
    color: #ffffff;
  }

  &.ghost {
    margin-left: 10px;
    padding: 6.5px 3px;
    background-color: #fff;
    color: #000000;
    &:hover {
      border-color: #000000c2;
      background: #ffffff;
      color: #000000;
    }
  }
}
