/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.membership {
  &-level {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .subtitle {
      font-size: 1.6rem;
      line-height: 26px;
      margin-top: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

  }

  &-card {
    background-size: 100% !important;
    height: 159px;
    margin-bottom: 16px;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    border-radius: 10px;

    .title {
      font-size: 2rem;
    }
    .content {
      font-size: 1.2rem;
    }

    .title, .content {
      color: #000000;
      opacity: 0.7;
    }

    .wrap-action {
      width: 40%;
      .action {
        width: 50%;
        height: 30px;
        background-color: #000000;
        font-size: .9rem;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        &.ghost {
          background-color: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

.ann {
  .title {
    font-size: 2.1rem;
    margin-top: 22px;
    margin-bottom: 10px;
  }
  &-card {
    background-image: url(../../content/images/rolls.jpg);
    background-size: 100% 100%;
    background-color: #3e8acc;
    background-repeat: no-repeat;
    padding: 2rem;
  }
  &-item {
    background-color: rgb(247, 247, 247);
    opacity: 0.5;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: normal;
  }
}

.w-20 {
  width: 20%;
}

@media screen and (min-width: 750px) {
  .membership-card {
    height: 180px;
  }
}

