<div class="home-page">
  <section class="banner mt-3">
    <img src="content/images/logos.png" alt="logo" style="width: 100px;height: 50px;">
    <video class="w-100" [controls]="false" [loop]="true" [autoplay]="true" [muted]="true">
      <source src="content/videos/v1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
  <section class="commodity">
    <div class="title my-3" style="font-size: 21px">- Commodity -</div>
    <div class="commodity-list">
      <swiper-container class="swiper" speed="500" loop="true" autoplay-delay="2500"
                        autoplay-disable-on-interaction="false">
        @for (commodity of commodityList; track i; let i = $index) {
          <swiper-slide>
            <a href="#"><img style="width: 100%;height: 280px" [src]="commodity"></a>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>
  <section class="membership-level container">
    <h6 class="subtitle"> - Membership Level - </h6>
    @for (member of memberList; track member.id) {
      <div class="membership-card text-start shadow" [style.background-image]="'url(' + member?.bgImg + ')'">
        <div class="title">{{ member.title }}</div>
        <div class="content">Required Investment &nbsp;${{ member?.reqInvest }}</div>
        <div class="content">{{ member?.type }} Commission {{ member?.val }}%</div>
        <div class="content">{{ member?.order }} Orders</div>
        <div class="wrap-action d-flex mt-3">
          <div class="action">Top up</div>
          <div class="action ghost"> Net yet open</div>
        </div>
      </div>
    }
    <swiper-container class="swiper" slides-per-view="1" speed="500" loop="true" autoplay-delay="2500"
                      autoplay-disable-on-interaction="false">
      @for (memberImage of memberImageList; track i; let i = $index) {
        <swiper-slide [attr.id]="i"><img style="width: 100%;height: 280px" [src]="memberImage"></swiper-slide>
      }
    </swiper-container>
  </section>
  <section class="ann">
    <div class="title">- Announcement -</div>
    <div class="ann-card">
      <div class="" style="height: 150px; overflow: hidden">
        <swiper-container direction="vertical"
                          slides-per-view="4"
                          height="150"
                          speed="500" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false"
        >
          @for (ann of annList; track i; let i = $index) {
            <swiper-slide [attr.id]="i">
              <div class="ann-item d-flex justify-content-between align-items-center" style="height: 30px">
                <div class="content">{{ ann?.cardNumber }}</div>
                <div class="content">Withdrawn</div>
                <div class="content">${{ ann?.money }}</div>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </section>
  <section class="social-network mt-3">
    <div class="d-flex">
      <a class="w-20" href=""><img style="width: 25px;height: 25px;" src="content/images/l1.png" alt="instar"></a>
      <a class="w-20" href=""><img style="width: 25px;height: 25px;" src="content/images/l2.png" alt="fb"></a>
      <a class="w-20" href=""><img style="width: 25px;height: 25px;" src="content/images/l3.png" alt="pri"></a>
      <a class="w-20" href=""><img style="width: 25px;height: 25px;" src="content/images/l4.png" alt="twi"></a>
      <a class="w-20" href=""><img style="width: 25px;height: 25px;" src="content/images/l5.png" alt="ytb"></a>
    </div>
    <div class="text">
      ©2024. OFF5TH  CA Transparency in Supply Chains Act
    </div>
  </section>
</div>
